
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% for node in @nodes %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading<%= node['node_sn'] %>">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= node['node_sn'] %>" aria-expanded="true" aria-controls="collapse<%= node['node_sn'] %>">
          <%= node['name'] %>
        </a>
      </h4>
    </div>
    <div id="collapse<%= node['node_sn'] %>" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="heading<%= node['node_sn'] %>">
      <div class="panel-body">
           
      </div>
    </div>
  </div>
  <% end %>
</div>
